@media screen and (max-width:767px) {

   .header ul,
   .header .btn {
      display: none;
   }

   .header img[alt="borgir"] {
      display: flex;
   }

   .woman {
      flex-direction: column;
   }

   .ads {
      max-width: 704px;
   }

   .share {
      flex-direction: column;
   }

   .purple {
      border-radius: 24px 24px 0 0
   }

   .woman img {
      border-radius: 0 0 24px 24px
   }

   .purple h1 {
      font-size: 24px;
   }

   .plans,
   .c {
      flex-direction: column;
   }

   .plans {
      align-items: center;
   }

   .c {
      gap: 64px;
   }

   .footer>div {
      flex-direction: column;
   }

   .menu {
      flex-direction: column-reverse;
   }

   .footer .copyright {
      flex-direction: column;
      gap: 24px;
   }

   footer {
      height: unset
   }

   .link {
      flex-direction: column;
   }

   .footer>div:first-child {
      gap: 48px;
   }

   .footer form {
      flex-direction: column;
   }

   .give {
      padding: var(--spacing-5xl, 40px) var(--spacing-3xl, 24px) var(--spacing-6xl, 48px) var(--spacing-3xl, 24px);
      border-radius: 16px 16px 0 0;
      background: #53389E;
   }

   .shot {
      max-width: 288px;
      width: 100%;
      display: flex;
   }
   .only >div:first-child {flex-direction: column;}
   .simple {max-width: unset;}
}